/*  your css code here. If applicable */
body {
	padding : 0;
	margin : 0;
	background-color : rgb(204, 204, 204);
}

h1,h2{
	text-align : center;
}

h2 {
	margin-top : 0px;
}

ul {
	margin :  20px 20px 0px 20px;
	border : 2px solid black;
	border-radius : 5px;
	padding : 20px 0px 20px 10px;
	background-color : white;
}

	
li {
	list-style-type : none;
}

a {
	text-decoration: none;
	color : black;
}

div {
	margin : 0px 50px 10px 50px;
	border : 2px solid black;
	border-radius : 5px;
	padding : 20px;
	background-color : rgb(255, 255, 255);
}

.player_one, .player_two {
	width : 100%;
	background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
